#submitDiv{
    button{
        margin-top: 1em;
    }
}

ul{
    list-style-type: none;
    padding: 0 !important;
    li{
    background-color: #2d3236!important;
        
        button{
            border: none;
        }
    }
}
.bg-dark-subtle {
    background-color: #2d3236!important;
}