html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #ba8889;
}
header {
  /* display: flex; */
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  /*👉  flex-direction: column;
  align-items: center;👈*/
  width: 20%;
  margin: 0 auto 20px auto;
  box-shadow: -5px 5px 10px;
}

#tabNumeriEstratti,
#playerTab {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}

h3 {
  width: 20px;
  padding: 10px;
  border: 1px solid;
  border-radius: 2px;
  margin: 0;
  background-color: rgb(255, 109, 109);
}
.active {
  transition-duration: 1000ms;
  background-color: green;
}
.spacerDiv {
  margin-left: 100%;
  padding-top: 10px;
}
button {
  background-color: transparent;
  border: 2px solid;
  border-radius: 2px;
  margin: 5px;
  box-shadow: 1px 1px 10px;
  transition-duration: 400ms;
}
button:hover {
  transition-duration: 400ms;
  box-shadow: none;
}
